@import url('https://fonts.googleapis.com/css?family=Anton');

// Colores
amarillo = #f9c422
amarillo-boton = #ffc91b
azul = #38aaeb
blanco = #ffffff
casi-blanco = #f5f5f5
fondo-casi-blanco = #f7f7f7
casi-negro = #333333
gris = #535254
gris-borde = #d9d9d9
negro = #000000
negro-texto = #282828
verde = #51b729

AkuKamu(s=1em, w=normal)
  font-family 'AkuKamu', 'Anton' !important
  font-size s !important
  font-weight w

LatoBold(s=1em, w=bold)
  font-family 'LatoBold' !important
  font-size s !important
  font-weight w

LatoRegular(s=1em, w=normal)
  font-family 'LatoRegular' !important
  font-size s !important
  font-weight w

bgImage(url, bgColor)
  background url(url) rgba(bgColor, 0.5)
  background-position center 0 
  background-repeat no-repeat 
  background-size cover

#about,#residential,#commercial
  bgImage('/img/bg/light-bulb.jpg', negro)
  color blanco
  min-height 83vh
  padding 2rem 0
  overflow hidden
  h1
    AkuKamu(2.9em)    
    color amarillo
    margin 0 auto
    padding 1rem 0 0 0 
    text-shadow 2px 3px negro
  p
    LatoRegular(1em)
    margin 0 0 1.5rem 0
    &.justify-align
      text-align justify
  .media
    text-align right    
    p
      AkuKamu(2.9em)
      color blanco
      margin 0
      img
        margin-right 10px
        max-width 40px
      span
        color amarillo
  ul
    li
      padding-left 10px
      &:before
        content '-'
        padding-right 10 px
  +below(600px)
    .valign-wrapper
      flex-direction column
    .justify-align
      text-align left !important
