// Colores
amarillo = #f9c422
grisTexto = #535254

LatoBold(s=1em, w=bold)
  font-family 'LatoBold' !important
  font-size s !important
  font-weight w

.contButton
  absolute bottom left
  height 50px
  text-align center
  width 100%
  .yellowButton
    background-color amarillo
    border none
    border-radius 5px
    box-shadow 0 0 5px 3px rgba(grisTexto, 0.3)
    color grisTexto
    display inline-block
    LatoBold(1.5em)
    margin 0 auto
    padding 15px 35px
    relative bottom -20px left
    &:hover
      cursor pointer
