// Colores
blanco = #ffffff
negro = #000000

bgImage(url, bgColor)
  background url(url) rgba(bgColor, 0.5)
  background-position center 0 
  background-repeat no-repeat 
  background-size cover

.bgContainer
  bgImage('/img/bg/light-bulb.jpg', negro)
  color blanco
  min-height 83vh
  padding 2rem 0
  overflow hidden
