blanco = #ffffff
negro = #000000

LatoBold(s=1em, w=bold)
  font-family 'LatoBold' !important
  font-size s !important
  font-weight w

LatoRegular(s=1em, w=normal)
  font-family 'LatoRegular' !important
  font-size s !important
  font-weight w

footer
  background-color negro
  color blanco
  padding 15px 0 5px 0
  h2
    LatoBold(1.3em)
    margin 2rem 0
  p
    LatoRegular()
    margin 2rem 0
  .center-align
    align-content center
    align-items center
    display flex
    justify-content center
    img
      height auto      
      &.big
        width 65px
      &.small
        width 50px
    p 
      margin 0
      span
        display block
        font-size 0.6em
        width 100px
  .row
    margin 0
  +below(1240px)
    .right-align
      p
        display inline-block
        margin-top 1rem
        width 80%
  +below(992px)
    .center-align
      justify-content flex-start
    .right-align
      p        
        text-align center
        width 100%
  +below(600px)
    .center-align      
      justify-content center !important
    *
      text-align center
  +below(340px)
    .center-align      
      flex-direction column
      a,p
        padding-bottom 0.6rem
