@import url('https://fonts.googleapis.com/css?family=Anton');

// Colores
amarillo = #f9c422
amarillo-boton = #ffc91b
azul = #38aaeb
blanco = #ffffff
casi-blanco = #f5f5f5
fondo-casi-blanco = #f7f7f7
casi-negro = #333333
gris = #535254
gris-borde = #d9d9d9
negro = #000000
negro-texto = #282828
verde = #51b729

AkuKamu(s=1em, w=normal)
  font-family 'AkuKamu', 'Anton' !important
  font-size s !important
  font-weight w

LatoBold(s=1em, w=bold)
  font-family 'LatoBold' !important
  font-size s !important
  font-weight w

LatoRegular(s=1em, w=normal)
  font-family 'LatoRegular' !important
  font-size s !important
  font-weight w

bgImage(url, bgColor)
  background url(url) rgba(bgColor, 0.5)
  background-position center 0 
  background-repeat no-repeat 
  background-size cover

#form
  bgImage('/img/bg/light-bulb.jpg', negro)
  height 650px  
  overflow hidden
  .info
    text-align right
    h1
      AkuKamu(2em)
      color amarillo
      display inline-block      
      text-align left
      +above(1200px)
        width 83%
    table
      display block
      margin 0 auto
      max-width 460px
      relative top left
      z-index 10
      p
        color blanco
        LatoRegular(1.1em)
        margin 0
        span
          display block
          LatoBold(1.3em)
          strong
            background-color transparent !important
        .blue
          color azul
        .green
          color verde
        .yellow
          color amarillo
    .Icon
      img
        max-width 120px
        height auto
        width 100%
    +below(800px)
      h1
        text-align center
    +below(600px)
      height auto
  +below(760px)
    height auto
    .container
      margin-left 5px
  +below(600px)
    padding-bottom 3rem
    .container
      margin 0 auto
    .row
      flex-direction column
      .col
        width 100% !important
  +below(400px)
    .container
      width 100%

.call-to-action
  background-color blanco
  padding 2rem 50px 1rem 50px
  relative top left
  width 100%
  z-index 30
  .intro
    color lighten(gris, 50%)
    LatoRegular(0.8em)
    text-align center
  .msg
    margin 0 auto
    overflow hidden
    .swal-icon
      margin 0 auto
    +below(992px)
      .col
        overflow hidden
  button
    background-color amarillo-boton
    border none
    border-radius 50px
    color gris
    LatoBold(1.5em)    
    margin 1.5rem auto 1rem auto 
    padding 1rem 0
    text-align center
    transition all 0.2s linear
    width 100%
    &:hover
      box-shadow 0 2px 10px 0 rgba(negro, 0.3)
      cursor pointer
      transition all 0.2s linear
  h3
    AkuKamu(1.2em)
    color gris
    margin 15px 0 0 0
    text-align center

.complete
  background-color blanco
  padding 2rem 50px 1rem 50px
  relative top left
  width 100%
  z-index 30
  p
    color lighten(gris, 50%)
    LatoRegular(0.8em)
    text-align center
  h3
    AkuKamu(1.2em)
    color gris
    margin 15px 0 0 0
    text-align center

.form  
  background-color fondo-casi-blanco
  border 2px solid gris-borde
  border-radius 20px
  margin 0 auto
  padding 2rem 0 1rem 0
  width 400px
  &.steps-action
    .text
      h2
        font-size 2em !important
        padding 1rem 0 !important
        transition all 0.2s linear
  .steps
    relative top left
    height 230px
    width 100%
    .row
      margin-bottom 0
    .step1,.step2
      absolute top left
      opacity 0
      transition all 0.2s linear
      width 100%
      z-index 0
      &.current
        opacity 1
        transition all 0.2s linear
        z-index 10
  .text    
    border-radius 1px    
    color blanco
    relative top left -17px
    width 430px    
    .shape
      background-color gris-borde
      height 50px
      position absolute
      width 50px
      z-index 10
      &.left
        bottom -28px
        left 10px
        transform rotate(50deg)
      &.right
        bottom -28px
        right 10px
        transform rotate(-50deg)
    .progress
      absolute bottom -15px left
      z-index 40
    h2
      AkuKamu(2.8em)
      bgImage('/img/bg/headerForm.png', azul)
      box-shadow 0 3px 10px 0 rgba(negro, 0.4)
      color blanco
      margin 0 auto
      padding 4.5rem 0
      relative top left
      text-align center  
      text-shadow 2px 3px negro
      transition all 0.2s linear
      z-index 31
      span
        display block    
  +below(992px)
    width 350px
    .text
      width 380px
  +below(670px)
    width 310px
    .text
      width 340px
  +below(600px)    
    margin-top 2rem
    padding-top 0
    width 100%
    .text      
      left 0
      width 100%
      div
        display none
      h2
        border-radius 20px 20px 0 0
        box-shadow none

