// Colores
amarillo = #f9c422
amarillo-boton = #ffc91b
azul = #38aaeb
blanco = #ffffff
casi-blanco = #f5f5f5
fondo-casi-blanco = #f7f7f7
casi-negro = #333333
gris = #535254
gris-borde = #d9d9d9
negro = #000000
negro-texto = #282828
verde = #51b729

bgImage(url, bgColor)
  background url(url) rgba(bgColor, 0.5)
  background-position center 0 
  background-repeat no-repeat 
  background-size cover

#gallery
  text-align center
  .photo
    background-color #000000
    display inline-block
    height 200px
    margin 5px 10px
    max-width 200px
    width 95%
    &.photo1
      bgImage('/img/gallery/photo1.jpeg', negro)
    &.photo2
      bgImage('/img/gallery/photo2.jpeg', negro)
    &.photo3
      bgImage('/img/gallery/photo3.jpeg', negro)
    &.photo4
      bgImage('/img/gallery/photo4.jpeg', negro)
    &.photo5
      bgImage('/img/gallery/photo5.jpeg', negro)
    &.photo6
      bgImage('/img/gallery/photo6.jpeg', negro)
    &.photo7
      bgImage('/img/gallery/photo7.jpeg', negro)
    &.photo8
      bgImage('/img/gallery/photo8.jpeg', negro)    
  +below(500px)
    .photo
      height 220px
      margin 0
      max-width 96%
      width 96%

