amarillo = #f9c422
blanco = #ffffff
negro = #000000

LatoBold(s=1em, w=bold)
  font-family 'LatoBold' !important
  font-size s !important
  font-weight w

header
  background-color negro
  color blanco
  padding 0.5rem 0
  img
    height auto
    max-width 200px
  nav
    background-color transparent
    height auto
    line-height 3.5
    text-align right
    a
      LatoBold()
      margin-right 10px
      &:hover
        color amarillo  
  .row
    margin 0
  +below(600px)
    img
      display block
      margin 5px auto
    nav
      text-align center
  +below(400px)
    nav
      a
        display inline-block
        margin 0
        text-align center
        width 33%


