.containerParallax
  relative top left 
  overflow hidden
  .HomeParallax
    display flex
    height 720px
    max-width 100%
    overflow hidden
    width 100%
    z-index 10
    .img
      height 100%
      width auto  
  .LogoSite
    absolute top left
    height 100%
    justify-content center
    width 100%
    z-index 200
  .sun-parallax
    absolute top left -55%
    z-index 100
  #panels-parallax
    absolute bottom right
    height auto
    max-width 100%
    z-index 50
  +below(1100px)
    .HomeParallax
      height 650px
    .sun-parallax
      left -80%
  +below(850px)
    .HomeParallax
      height 500px
    .sun-parallax
      left -100%
  +below(730px)
    .sun-parallax
      left -120%
  +below(600px)
    .LogoSite
      margin-left 10%
      width 80%
      img
        width 100%
    .sun-parallax
      display none
  +below(500px)
    .HomeParallax
      height 300px
    #panels-parallax
      max-width 125%
  