casi-blanco = #f5f5f5
gris = #676767
negro = #000000

LatoBold(s=1em, w=bold)
  font-family 'LatoBold' !important
  font-size s !important
  font-weight w

#poweredBy
  background-color casi-blanco
  color gris
  padding 1.5rem 0 2.5rem 0
  h2    
    LatoBold(1.2em)
    margin 0    
  .container
    div
      align-items center
      align-content center
      display flex
      justify-content space-around
      padding 2rem 0 0 0
      img
        &.big
          max-width 250px
        &.epiq
          max-width 100px
        &.med
          max-width 180px
        &.small
          max-width 90px
  +below(992px)
    .container
      div
        flex-wrap wrap        
        img
          margin 0 15px 15px 0
  +below(600px)
    .container
      div
        justify-content center
        padding 1rem 0 0 0
    