@import url('https://fonts.googleapis.com/css?family=Anton');
  
// Colores
amarillo = #f9c422
blanco = #ffffff
casi-blanco = #f9f9f9
casi-negro = #333333
gris-texto = #8c8a8c
negro = #000000
negro-texto = #282828

AkuKamu(s=1em, w=normal)
  font-family 'AkuKamu', 'Anton' !important
  font-size s !important
  font-weight w

LatoBold(s=1em, w=bold)
  font-family 'LatoBold' !important
  font-size s !important
  font-weight w

LatoRegular(s=1em, w=normal)
  font-family 'LatoRegular' !important
  font-size s !important
  font-weight w


bgImage(url, bgColor)
  background url(url) rgba(bgColor, 0.5)
  background-position center 0 
  background-repeat no-repeat 
  background-size cover

.info-section
  background-color casi-blanco
  height 650px
  h2,img,table
    display block
    margin 0 auto
    max-width 460px
  h2
    AkuKamu(2.8em)
    color amarillo
    text-align right
  table
    relative top left
    z-index 10
    p
      color gris-texto
      LatoRegular(1.1em)
      span
        color negro-texto
        display block
        LatoBold(1.3em)  
  .Icon
    img
      max-width 120px
      height auto
      width 100%
  .responsive-img
    relative top left
    width 100%
    z-index 10
  .row
    height 100%
    margin 0
    relative top left
    width 100%    
  #shape
    absolute top right
    display block
    height 100%
    width auto
    z-index 1
  +below(800px)
    h2
      text-align center
    #shape
      display none
  +below(600px)
    height auto
    .row
      flex-direction column
      padding 1rem 0

.form-section
  bgImage('/img/bg/light-bulb.jpg', casi-negro)
  height 700px  
  overflow hidden
  h3
    LatoBold(2.5em)
    text-align center
    width 100%
  .containerForm
    background-color blanco
    border 2px solid casi-blanco
    border-radius 20px
    max-width 550px    
    width 98%
    .bodyForm
      relative top left
      padding-bottom 50px
      form
        display block
        margin 40px auto 40px auto        
        width 80%
        .intro
          LatoRegular(1.5em)
          margin 60px auto 
          text-align center
          width 80%
    .headerForm
      bgImage('/img/bg/picture_box.jpg', casi-blanco)
      border-radius 20px 20px 0 0
      padding 40px 0      
      h2
        AkuKamu(2.5em)
        color amarillo
        margin 0 auto
        text-align center        
        &.shadow          
          text-shadow 2px 3px negro
          width 85%
  .steps
    height 300px
    width 100%
    relative top left    
    .step1,.step2
      absolute top left
      height 100%
      width 100%
  #logo-form
    display block
    margin 10rem auto
    max-width 250px
    relative top right -25px
  +below(992px)
    height auto
    padding 2.5rem 0
  +below(500px)
    .row
      width 100%
    .containerForm
      width 100%


